body {
overflow-x: hidden;
}
#slider {
	bottom: -450px;
    top: auto;
    position: fixed;
    right: 0;
    z-index: 101;
    width: 260px;
    height: 440px;
}
.contact_open {
	bottom: 0 !important;
}
#header {
	width: 260px;
    height: 414px;
    position: absolute;
    right: 0;
    border: 1px solid #d8d8d8;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 0 8px grey;
    background: #fff;
    border-bottom: 4px solid #42a6ee;
}
#sidebar, #sidebar1 {
	box-shadow:0 0 8px gray;
}
#sidebar {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
#slider .address {
    font-size: 85%;
    line-height: 20px;
    letter-spacing: 0px;
}
#sidebar .title {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background: #41a7f1;
    text-align: center;
    padding: 8px 3px;
    font-family: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#sidebar .title i.fa-sort-down {
    margin: 0px 10px 10px 10px;
}
#sidebar .title i {
    color: #fff;
    float: right;
    margin: 7px 10px 10px 10px;
}

input[type=text] {
	margin-top:10px;
	padding:6px;
	width:100%;
	font-size:15px;
	border-radius:2px;
	border:3px solid #98d0f1
}
div#title {
	position:absolute;
	top:300px;
	left:650px
}
#header > select {
	padding:6px;
	width:100%;
	font-size:15px;
	border-radius:2px;
	border:3px solid #98d0f1
}
#header > textarea {
	padding:6px;
	font-size:15px;
	border-radius:2px;
	border:3px solid #98d0f1;
	margin-top:10px;
	height:80px;
	width:100%
}
#header > button {
	background: #2bc1f2;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 22px;
    font-weight: bolder;
    padding: 4px 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 8px;
}